.header {
    background-color: $black;
    height: 70px;
    z-index: 100;

    &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 45px;
        justify-content: space-between;
    }
    &__nav {
        display: flex;
        align-items: center;
        gap: 40px;
        height: 100%;
    }
    &__nav-link {
        font-family: 'TRYGrtskMediumExa';
        font-weight: 500;
        font-size: 16px;
        color: #fff;

        white-space: nowrap;
    }
    &__icon-link {
        width: 20px;
        height: 20px;
        & > img {
            width: 20px;
            height: 20px;
        }
    }
    &__icons {
        display: flex;
        align-items: center;
        gap: 28px;
    }
    &__catalog-btn-text {
        display: block;
        font-family: 'TRYGrtskSemiBoldGiga';
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        color: #fff;
    }
    &__catalog-btn {
        display: flex;
        gap: 14px;
        align-items: center;
        height: 100%;
        padding: 0px 40px 0 40px;

        background-color: #000;
        border: none;
        cursor: pointer;
        position: relative;
        user-select: none;

        transition: background-color 0.5s ease-in-out;
        z-index: 100;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -100;
            background: linear-gradient(90deg, #a77118 0%, #eaba3f 100%);
            transition: all 0.5s ease-in-out;

            opacity: 0;
        }
        &.active::before {
            animation: 1s show ease;
            opacity: 1;
        }
        & span {
            position: relative;
            // top: 0;
            // left: 0;

            width: 24px;
            height: 2px;
            background-color: #fff;
            border-radius: 12px;
            display: block;
            transform: scaleX(-1);
            transition: background-color 0.5s ease-in-out;
        }

        & span::before,
        & span::after {
            content: '';
            width: 15px;
            background-color: #fff;
            display: block;
            transition: all 0.5s ease-in-out;
            border-radius: 2px;
            height: 2px;
        }

        & span::before {
            transform: translateY(-8px);
        }

        & span::after {
            margin-left: 10px;
            transform: translateY(8px);
            margin-top: -2px;
        }

        &.active span {
            background-color: transparent;
        }

        &.active span::before,
        &.active span::after {
            width: 25px;
        }

        &.active span::before {
            transform: rotateZ(-45deg) translateY(0); //translateY(0)
        }

        &.active span::after {
            transform: rotateZ(45deg) translateX(-6px) translateY(6px);
        }
    }
    &__catalog {
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;

        transform: translateY(-1000px);
        z-index: -1;

        animation-name: example_reverse;
        animation-duration: 1s;

        &--open {
            transform: translateY(0);
            animation-name: example;
            animation-duration: 1s;
        }
    }
    &__catalog-wrapper {
        padding: 40px 40px 80px 40px;

        //temp
        background: #7b7b7b3c;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 80px;
        row-gap: 60px;
    }
    &__catalog-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__catalog-head-link {
        font-family: 'TRYGrtskSemiBoldGiga';

        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #a77118;
    }
    &__catalog-title {
        font-family: 'TRYGrtskSemiBoldGiga';
        font-weight: 700;
        font-size: 22px;
        text-transform: uppercase;
        color: #171719;
    }
    &__catalog-item {
        padding: 20px 0 20px 0;
    }
    &__catalog-link {
        font-family: 'TRYGrtskMediumExa';
        display: block;
        font-weight: 400;
        font-size: 16px;
        color: #171719;
        position: relative;
        &::after {
            content: url('../images/arrow.svg');
            position: absolute;
            top: 0;
            right: 0;
            width: 10px;
            height: 10px;
        }
    }
    &__search {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: 70px;
        background-color: #fff;
        transform: translateY(-150px);
        z-index: -1;
        animation-name: example2_reverse;
        animation-duration: 0.5s;

        &--open {
            transform: translateY(0);
            animation-name: example;
            animation-duration: 0.5s;
        }
    }
    &__search-wrapper {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    &__search-icon {
        width: 20px;
        height: 20px;
    }
    &__search-input {
        width: 100%;
        border: none;
        outline: none;
        &::placeholder {
            font-family: 'TRYGrtskMediumExa';
            font-weight: 400;
            font-size: 16px;
            color: rgba(23, 23, 25, 0.5);
        }
    }
    &__search-btn {
        margin: 0;
        padding: 0;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    &__phone {
        position: absolute;
        top: 71px;
        right: 17%;

        display: flex;
        align-items: center;
        gap: 10px;
        padding: 20px 40px;
        background: $black;
        max-width: fit-content;

        transform: translateY(-150px);
        z-index: -1;
        animation-name: example2_reverse;
        animation-duration: 0.5s;

        &--open {
            transform: translateY(0);
            animation-name: example;
            animation-duration: 0.5s;
        }
    }
    &__phone-text {
        font-family: 'TRYGrtskExa';
        font-weight: 400;
        font-size: 25px;
        color: #fff;
    }
    &__phone-img {
        width: 24px;
        height: 24px;
    }
}
@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes example {
    from {
        transform: translateY(-1000px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes example_reverse {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-1000px);
    }
}

@keyframes example2 {
    from {
        transform: translateY(-150px);
    }
    to {
        transform: translateY(0px);
    }
}
@keyframes example2_reverse {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-150px);
    }
}
