
    <footer class="footer">
        <div class="container">
            <div class="footer__top">
                <img src="images/logo.svg" alt="Logo" class="footer__logo" />
                <div class="footer__catalog">
                    <h5 class="footer__title">каталог</h5>
                    <a href="#" class="footer__text">Люстры</a>
                    <a href="#" class="footer__text">Светильники</a>
                    <a href="#" class="footer__text">Бра</a>
                    <a href="#" class="footer__text">Настольные лампы</a>
                    <a href="#" class="footer__text">TeonaDecor </a>
                </div>
                <div class="footer__buyers">
                    <h5 class="footer__title">Покупателям</h5>
                    <a href="#" class="footer__text">Коллекции</a>
                    <a href="#" class="footer__text">Шоурумы</a>
                    <a href="#" class="footer__text">Сотрудничество</a>
                    <a href="#" class="footer__text">О компании</a>
                    <a href="#" class="footer__text">Контакты</a>
                </div>
                <div class="footer__showroom">
                    <h5 class="footer__title">наши шоурумы</h5>
                    <div class="footer__showroom-columns">
                        <div class="footer__showroom-column">
                            <p class="footer__text">+7 (495) 191-01-67</p>
                            <p class="footer__text">Пн-Вс 10:00-21:00</p>
                            <p class="footer__text">ТЦ Фамили Рум магазин
                                4 этаж; г. Москва, Ленинградское
                                шоссе, д. 25</p>
                            <a href="#" class="footer__link">
                                <img src="images/map.svg" alt="map" class="footer__icon">
                                <span class="footer__link-text">Смотреть на карте</span>
                            </a>
                        </div>
                        <div class="footer__showroom-column">
                            <p class="footer__text">+7 (495) 191-01-67</p>
                            <p class="footer__text">Пн-Вс 08:30-19:00</p>
                            <p class="footer__text">ТК "Владимирский Тракт" 
                                магазин 8-14Б; г. Москва, г. Реутов,
                                Северный проезд, д. 1</p>
                            <a href="#" class="footer__link">
                                <img src="images/map.svg" alt="map" class="footer__icon">
                                <span class="footer__link-text">Смотреть на карте</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="footer__bottom-wrapper">
                    <p class="footer__bottom-text">Интернет-магазин ”Leonlustre” © 2009-2024 Все права защищены.</p>
                    <a href="#" class="footer__bottom-link">Политика конфиденциальности</a>
                </div>
            </div>
        </div>
        
    </footer>
    <script src="js/main.min.js"></script>
</body>
</html>